<div id="svg-assets" style="display:none">
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 800 1280" enable-background="new 0 0 800 1280" xml:space="preserve">
	<symbol id="cog" viewBox="0 0 100 100">
		<path d="M87.5,38.1c-0.8-3.1-1.7-6-3.2-8.7c1.8-2.4,8-11.2,3.6-15.6l-2.1-2.4c-3.7-3.7-13.2,2.1-15.5,3.6
			c-2.7-1.5-5.7-1.9-8.8-2.7C61.1,9.5,58.9,0,52.8,0h-2.5c-5.3,0-8.3,9.8-9,12.5c-3.1,0.9-6,1.6-8.7,3.2c-2-1.6-11.2-8.1-15.6-3.7
			l-2.4,1.9c-3.9,3.9,2.6,14.1,3.7,15.9c-1.5,2.7-3.3,5.5-4.2,8.5C11.6,38.7,0,40.7,0,47.1v2.5c0,5.5,12.2,8.5,14.3,9
			c0.8,3,2.4,5.8,3.9,8.5c-1.2,1.9-7.3,12.1-3.4,16l2.3,1.9c5.1,5.1,15.7-3.3,15.7-3.3c2.8,1.7,5.4,3.2,8.6,4.1
			c0.5,2.2,3.6,14.3,9,14.3h2.5c7.2,0,8.9-14.1,8.9-14.1c3.2-0.8,5.7-2.5,8.5-4.1c2.2,1.5,11.6,7.2,15.3,3.4l2.5-2.6
			c5-5-3.1-15.2-3.4-15.5c1.5-2.7,2-5.6,2.8-8.7c2.8-0.7,12.5-3.7,12.5-9V47C100,40.1,88.3,38.3,87.5,38.1z M51.5,67.2
			c-10.4,0-18.8-8.4-18.8-18.8s8.4-18.8,18.8-18.8S70.3,38,70.3,48.4S61.9,67.2,51.5,67.2z M60.9,48.4c0,5.2-4.2,9.4-9.4,9.4
			s-9.4-4.2-9.4-9.4s4.2-9.4,9.4-9.4S60.9,43.2,60.9,48.4z"/>
	</symbol>
	<symbol id="list" viewBox="100 0 100 100">
		<path d="M195.3,54.7h-62.5c-2.6,0-4.7-2.1-4.7-4.7s2.1-4.7,4.7-4.7h62.5c2.6,0,4.7,2.1,4.7,4.7S197.9,54.7,195.3,54.7z
			 M195.3,29.7h-62.5c-2.6,0-4.7-2.1-4.7-4.7s2.1-4.7,4.7-4.7h62.5c2.6,0,4.7,2.1,4.7,4.7S197.9,29.7,195.3,29.7z M114.1,79.7h-9.4
			c-2.6,0-4.7-2.1-4.7-4.7s2.1-4.7,4.7-4.7h9.4c2.6,0,4.7,2.1,4.7,4.7C118.7,77.6,116.7,79.7,114.1,79.7z M114.1,54.7h-9.4
			c-2.6,0-4.7-2.1-4.7-4.7s2.1-4.7,4.7-4.7h9.4c2.6,0,4.7,2.1,4.7,4.7C118.7,52.6,116.7,54.7,114.1,54.7z M114.1,29.7h-9.4
			c-2.6,0-4.7-2.1-4.7-4.7s2.1-4.7,4.7-4.7h9.4c2.6,0,4.7,2.1,4.7,4.7S116.7,29.7,114.1,29.7z M132.8,79.7c-2.6,0-4.7-2.1-4.7-4.7
			s2.1-4.7,4.7-4.7h62.5c2.6,0,4.7,2.1,4.7,4.7s-2.1,4.7-4.7,4.7H132.8z"/>
	</symbol>
	<symbol id="js" viewBox="200 0 100 100">
		<g>
			<path d="M243.6,99.4c-1.3,0-2.6-0.3-3.8-1l-12-7.1c-1.8-1-0.9-1.4-0.3-1.6c2.4-0.8,2.9-1,5.4-2.5c0.3-0.1,0.6-0.1,0.9,0.1l9.3,5.5
				c0.3,0.2,0.8,0.2,1.1,0l36-20.8c0.3-0.2,0.6-0.6,0.6-1V29.4c0-0.4-0.2-0.8-0.6-1l-36-20.8c-0.3-0.2-0.8-0.2-1.1,0l-36,20.8
				c-0.4,0.2-0.6,0.6-0.6,1V71c0,0.4,0.2,0.8,0.6,1l9.9,5.7c5.4,2.7,8.6-0.5,8.6-3.6V32.9c0-0.6,0.5-1,1-1h4.6c0.6,0,1,0.5,1,1V74
				c0,7.2-3.9,11.3-10.7,11.3c-2.1,0-3.7,0-8.3-2.3l-9.5-5.4c-2.3-1.4-3.8-3.9-3.8-6.6V29.4c0-2.7,1.4-5.2,3.8-6.6L239.8,2
				c2.3-1.3,5.3-1.3,7.6,0l36.1,20.8c2.3,1.4,3.8,3.9,3.8,6.6V71c0,2.7-1.5,5.2-3.8,6.6l-36.1,20.8C246.3,99.1,245,99.4,243.6,99.4
				L243.6,99.4z"/>
			<path d="M272.7,58.4c0-7.8-5.3-9.9-16.3-11.3c-11.2-1.5-12.3-2.2-12.3-4.9c0-2.2,1-5.1,9.3-5.1c7.4,0,10.1,1.6,11.3,6.6
				c0.1,0.5,0.5,0.8,1,0.8h4.7c0.3,0,0.6-0.1,0.8-0.3c0.2-0.2,0.3-0.5,0.3-0.8c-0.7-8.6-6.4-12.6-18-12.6c-10.3,0-16.4,4.3-16.4,11.6
				c0,7.9,6.1,10.1,16,11.1c11.8,1.2,12.7,2.9,12.7,5.2c0,4-3.2,5.7-10.8,5.7c-9.5,0-11.6-2.4-12.3-7.1c-0.1-0.5-0.5-0.9-1-0.9H237
				c-0.6,0-1,0.5-1,1c0,6.1,3.3,13.3,19.1,13.3C266.2,70.7,272.7,66.2,272.7,58.4z"/>
			<polygon points="288.6,16.2 288.6,16.9 290.6,16.9 290.6,22.2 291.4,22.2 291.4,16.9 293.4,16.9 293.4,16.2 	"/>
			<polygon points="294.2,22.2 295,22.2 295,17 296.7,22.1 297.5,22.1 299.2,17 299.2,22.1 300,22.1 300,16.1 298.8,16.1 297.1,21.2 
				295.4,16.1 294.2,16.1 294.2,22.2 	"/>
		</g>
	</symbol>
	<symbol id="code" viewBox="300 0 100 100">
		<g>
			<path d="M312.3,64.5c0-2.8-1-4.9-3.1-6.4s-5.1-2.2-9.1-2.2V44.5c4,0,7.1-0.7,9.2-2.1c2.1-1.4,3.1-3.4,3.1-6V20.7
				c0-4.9,1.6-8.3,4.7-10.3s8.6-3,16.4-3v10.8c-3.2,0.1-5.4,0.7-6.5,1.8c-1.2,1.1-1.8,2.8-1.8,4.9v14.3c-0.2,6-3.9,9.6-11.2,10.7v0.6
				c7.5,1.1,11.2,4.5,11.2,10.2v14.7c0,2.2,0.6,3.8,1.8,4.9c1.2,1.1,3.4,1.7,6.6,1.8V93c-7.8,0-13.3-1-16.4-3s-4.7-5.5-4.7-10.4V64.5
				H312.3z"/>
			<path d="M387.7,79.7c0,3.6-0.7,6.3-2,8.1c-1.3,1.8-3.5,3.2-6.5,4s-7.2,1.3-12.5,1.3V82.2c3.2-0.1,5.4-0.6,6.5-1.7
				c1.2-1.1,1.8-2.8,1.8-5V60.6c0-2.8,0.9-5,2.8-6.7s4.7-2.8,8.3-3.4v-0.6c-7.3-1.1-11-4.6-11.2-10.7V24.9c0-2.2-0.6-3.9-1.8-5
				c-1.2-1.1-3.4-1.7-6.6-1.8V7.3c5.3,0,9.5,0.4,12.6,1.3c3,0.8,5.2,2.2,6.5,4s1.9,4.5,1.9,8v15.8c0,2.7,1,4.7,3,6s5.1,2,9.3,2v11.5
				c-4,0-7,0.7-9.1,2s-3.1,3.5-3.1,6.6v15.2H387.7z"/>
		</g>
	</symbol>
	<symbol id="logo" viewBox="400 0 100 100">
		<polygon fill="#FFFFFF" points="465.6,36.8 466.3,36.7 466.2,37 	"/>
		<polygon fill="#FFFFFF" points="465.6,36.8 466.3,36.7 466.2,37 	"/>
		<circle fill="#FFFFFF" cx="450" cy="50" r="47.7"/>
		<path fill="#098262" d="M435.5,75.4l-2.5-4.1l0.5-3.1l1.6-1c-0.8,1.7-2,5.7,2,7.5l0.1,3.3L435.5,75.4z M466.3,36.7l0.3-0.7
			l-2.1-1.5l2.8,0l2-4.7l0.1-0.8l2.2,0.7l-0.2,1.5l-2,3.6l-0.3,1.6L466.3,36.7z M449,88.3l-4.4-9.2l0.5-4.4l0.2-1.5l0.2-2l3.3-0.7
			l5.8-9.2l0.8-2.8l-1.5-1.3l1.9-0.1l1-3.8l-1.8-2.5l3.2,0.9l3.5-4.1l1.5-3.6l-3-3l4.1,0.3l1.2-2.9l0.5-1.3l2.5,1.1l-1.8,9l-3.2,4.9
			l-3.8-0.2l2,3l-0.2,2.6l-3.3,0.7l3.1,2.4l-1.3,3.5l-2.5,0.3c0,0,1.3,2.2,1.3,2.4v0l-2.3,5.5l8.8,6.3l2.3,8.9l1.8,6
			c-2.4,1.1-4.9,2-7.5,2.7L449,88.3z M470.6,23.8l2.4,3.7v0l-2.9,0.4l-0.2-1l-3.4-1.7l3.8-0.6L470.6,23.8z"/>
		<path fill="#0DAF81" d="M470.6,23.8l2.4,3.7v0l-2.9,0.4l-2.9,0.4l2.3,0.7l2.2,0.7l-0.2,1.5l-2.1,3.6l-0.3,1.6l-2.8,0.5l-0.2,0.3
			l2.5,1.1l-1.8,9l-3.2,4.9l-3.8-0.2l2,3l-0.2,2.6l-3.3,0.7l3,2.4l-1.5,3.5l-2.1,0.3c0,0,1.3,2.2,1.3,2.4v0l-2.3,5.5l-6.6,4.6
			l-3.3-1.4l-0.8,3.5l3,9.4l-4.4-9.2l0.5-4.4l0.2-1.5l0.2-2l0.8-6.8l-1.2-3.4l1.6-1.1l-2.3-0.7l0,0.1l0-0.1l-1-2.7l1.8-1.9l-2.7-0.6
			l-1.1-3l-0.4-6.6l4.1-2l-3.7-0.3l-0.4-2v0l1.3-1.1l-2.8-0.6l-2.3-4.9l0.2-3.1l-0.1-0.3l2.5-2.2l-2.8-0.3l-0.2-1.5l-2.2-3.8l2.9-1.1
			l-3.8-0.5l-2.6-1.3c0,0-3.3,9-3.3,9.5c-0.1,0.5,1.9,4.5,1.9,4.5l1.7,8.1l-0.5,4.4l0.5,4.5L431,65.2l-2,6.9l1.8,6.1l0,8.4l2.8,3.1
			l-0.5,4.8c5.3,2,11,3.2,17,3.2c4.2,0,8.3-0.6,12.2-1.6l-0.1-2.5l2.4-9.4l1.1-5.6l0.6-3.2l5.2-20.4l2.8-14.2l1.7-9.2l-1.9-5.6
			L470.6,23.8z M437.2,78.1l-1.6-2.7l-2.5-4.1l0.5-3.1l1.6-1c0.1-0.1,0.1-0.2,0.2-0.3c3.9,1.7,3.2,4.3,1.8,7.8L437.2,78.1z
			 M467.1,45.9l-2.3-1.7l2.8-0.4L467.1,45.9z"/>
		<path fill="#0EAF81" d="M450,100c-27.6,0-50-22.4-50-50s22.4-50,50-50s50,22.4,50,50S477.6,100,450,100z M450,4.5
			c-25.1,0-45.5,20.4-45.5,45.5s20.4,45.5,45.5,45.5s45.5-20.4,45.5-45.5S475.1,4.5,450,4.5z"/>
	</symbol>
	<symbol id="pencil" viewBox="0 100 100 100">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M10.3,172.1L63,119.5L80.6,137l-52.7,52.6L10.3,172.1z M80.6,101.9
	c2.4-2.4,6.4-2.4,8.8,0l8.8,8.8c2.4,2.4,2.4,6.4,0,8.8L85,132.6l-17.6-17.5L80.6,101.9z M0,199.9l5.9-23.4L23.4,194L0,199.9z"/>
	</symbol>
	<symbol id="expand" viewBox="100 100 100 100">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M193.5,138.9L193.5,138.9c-3.6,0-6.5-2.9-6.5-6.5v-10.3l-32.2,32.2
			l0,0c-1.2,1.1-2.7,1.8-4.5,1.8c-3.6,0-6.5-2.9-6.5-6.5c0-1.7,0.7-3.3,1.8-4.5l0,0l32.2-32.2h-10.3c-3.6,0-6.5-2.9-6.5-6.5
			c0-3.6,2.9-6.5,6.5-6.5h25.9c3.6,0,6.5,2.9,6.5,6.5v25.9C200,136,197.1,138.9,193.5,138.9z M142.2,122.4L142.2,122.4h-32.1v67.5
			h67.5v-5.1v-27l0,0v-11.5c1.5,0.9,3.2,1.4,5.1,1.4c1.9,0,3.6-0.5,5.1-1.4v14.9l0,0v33.8c0,2.8-2.3,5.1-5.1,5.1h-77.6
			c-2.8,0-5.1-2.3-5.1-5.1v-77.6c0-2.8,2.3-5.1,5.1-5.1h37.1l0,0h11.5c-0.9,1.5-1.4,3.2-1.4,5.1c0,1.9,0.5,3.6,1.4,5.1H142.2z"/>
	</symbol>
	<symbol id="delete" viewBox="200 100 100 100">
		<g>
			<path d="M250,109.4c22.4,0,40.6,18.2,40.6,40.6s-18.2,40.6-40.6,40.6s-40.6-18.2-40.6-40.6S227.6,109.4,250,109.4 M250,100
				c-27.6,0-50,22.4-50,50c0,27.6,22.4,50,50,50s50-22.4,50-50C300,122.4,277.6,100,250,100L250,100z"/>
			<g>
				<rect x="245.9" y="124.2" transform="matrix(0.7071 0.7071 -0.7071 0.7071 179.5983 -133.1993)" width="9.4" height="51.9"/>
				<rect x="224.6" y="145.5" transform="matrix(0.7071 0.7072 -0.7072 0.7071 179.6161 -133.2038)" width="51.9" height="9.4"/>
			</g>
		</g>
	</symbol>
	</svg>
</div>
